body{
    padding: 0;  
    background: #E5E5E5; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    background: #E5E5E5;
    margin:auto;
    width: 70%;
}
h1{
    color: #4A7C59;
    font-size: 30px;
    margin-top: 30px;
    text-align: left;    
}
p{
    text-align: justify;
    font-size: 20px;
    color: rgb(63, 68, 64);
}
.oi{
    font-size: 25px;
    color: rgb(63, 68, 64);
    padding: 300px;
}
.fb1{
    text-align: justify;
    font-size: 20px;
    color:rgb(63, 68, 64);
}
.fabralogo{
    text-align: center;
}
.fabralogo img{
    width: 370px;
    height: 320px;
}
.fabrabanner{
    float: left;
    border: 5px solid #4A7C59;
}
.fabrabanner img{
    width: 400px;
    height: 350px;
}
.vazio{
    color: #E5E5E5; 
    font-size: 140px;
}
footer{
    background: #4A7C59;
    height:70px ;
}
footer img{
    float: left;
    width: 90px;
    height: 70px;
}
footer p{
    text-align: center;
    font-size: 15px;
}
nav{
    top: 1px;
    border-radius: 7px 7px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10px;
    background-color: #4A7C59;
    height: 50px;
    width: 100%;
}
.nav-links{
    margin-top: 1px;
    display: flex;
    width: 1px;

}
.nav-links li{
    list-style: none;
    margin: 13px;
    text-align: center;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;   
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    text-align: right;
    width: 25px;
    height: 3px;
    background-color: #E5E5E5;
    margin: 5px;
}
@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width: 1768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        border-radius: 0px 7px;
        position: absolute;
        right: 0px;
        height: 210px;
        top: 8vh;
        background-color: #4A7C59;
        display: grid;
        flex-direction: column;
        width: 20%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%)
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
