body {
    padding: 0;  
    background: #E5E5E5; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    color:#E5E5E5; 
    font-size: 20px;
}
h1{
    color: #4A7C59;
    font-size: 25px;
    margin-top: 30px;
    text-align: left;    
}
p{
    text-align: justify;
    font-size: 15px;
    color: rgb(63, 68, 64);
}
.img2{
    float: left;
}

/* LOGO INICIAL TOPO*/
.logohome{ 
    text-align: center;   
}


.img{
    text-align: center;
}

.fim{
    color:#E5E5E5;
    margin-top: 20px;

}

nav{
    top: 1px;
    border-radius: 7px 7px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10px;
    background-color: #4A7C59;
    height: 50px;
    width: 100%;
}
.nav-links{
    margin-top: 1px;
    display: flex;
    width: 1px;

}
/*Ponto no inicio na palavra no menu*/
.nav-links li{
    list-style: none;
    margin: 13px;
    text-align: center;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none; /*sublinhado*/
    letter-spacing: 3px; /*espaço entre letras*/
    font-weight: bold; /*negrito*/
    font-size: 14px;   
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #E5E5E5;
    margin: 5px;
}
@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        border-radius: 0px 7px;
        position: absolute;
        right: 0px;
        height: 210px;
        top: 8vh;
        background-color: #4A7C59;
        display: flex;
        flex-direction: column;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%)
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
